parameters:
	ignoreErrors:
		-
			message: "#^Method CRM_Eck_Form_EckSubtype\\:\\:postProcess\\(\\) has no return type specified\\.$#"
			count: 1
			path: CRM/Eck/Form/EckSubtype.php

		-
			message: "#^Method CRM_Eck_Form_EckSubtype\\:\\:setDefaultValues\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: CRM/Eck/Form/EckSubtype.php

		-
			message: "#^Method CRM_Eck_Form_EntityType\\:\\:postProcess\\(\\) has no return type specified\\.$#"
			count: 1
			path: CRM/Eck/Form/EntityType.php

		-
			message: "#^Method CRM_Eck_Form_EntityType\\:\\:preProcess\\(\\) has no return type specified\\.$#"
			count: 1
			path: CRM/Eck/Form/EntityType.php

		-
			message: "#^Method CRM_Eck_Form_EntityType\\:\\:setDefaultValues\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: CRM/Eck/Form/EntityType.php

		-
			message: "#^Call to function method_exists\\(\\) with 'CRM_Core_Smarty' and 'setRequiredTabTempl…' will always evaluate to true\\.$#"
			count: 1
			path: CRM/Eck/Page/Entity/TabHeader.php

		-
			message: "#^Method Civi\\\\Api4\\\\EckDAODeleteAction\\:\\:deleteObjects\\(\\) has parameter \\$items with no value type specified in iterable type array\\.$#"
			count: 1
			path: Civi/Api4/EckDAODeleteAction.php

		-
			message: "#^Method Civi\\\\Api4\\\\EckDAODeleteAction\\:\\:deleteObjects\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Civi/Api4/EckDAODeleteAction.php

		-
			message: "#^Cannot call method exchangeArray\\(\\) on mixed\\.$#"
			count: 1
			path: Civi/Api4/Service/Links/ECKLinksProvider.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 19
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Method Civi\\\\Api4\\\\Service\\\\Spec\\\\Provider\\\\EckEntitySpecProvider\\:\\:arrayToField\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Method Civi\\\\Api4\\\\Service\\\\Spec\\\\Provider\\\\EckEntitySpecProvider\\:\\:getDataType\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Method Civi\\\\Api4\\\\Service\\\\Spec\\\\Provider\\\\EckEntitySpecProvider\\:\\:setInputTypeAndAttrs\\(\\) has no return type specified\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Method Civi\\\\Api4\\\\Service\\\\Spec\\\\Provider\\\\EckEntitySpecProvider\\:\\:setInputTypeAndAttrs\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Method Civi\\\\Api4\\\\Service\\\\Spec\\\\Provider\\\\EckEntitySpecProvider\\:\\:setLegacyDateFormat\\(\\) has no return type specified\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Method Civi\\\\Api4\\\\Service\\\\Spec\\\\Provider\\\\EckEntitySpecProvider\\:\\:setLegacyDateFormat\\(\\) has parameter \\$inputAttrs with no value type specified in iterable type array\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Only booleans are allowed in &&, array given on the right side\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Only booleans are allowed in &&, int\\<0, max\\>\\|false given on the right side\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Only booleans are allowed in a ternary operator condition, int\\<0, max\\>\\|false given\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Parameter \\#1 \\$callback of method Civi\\\\Api4\\\\Service\\\\Spec\\\\FieldSpec\\:\\:setOptionsCallback\\(\\) expects callable\\(\\)\\: mixed, array\\{'Civi\\\\\\\\Api4\\\\\\\\Service\\\\\\\\Spec\\\\\\\\Provider\\\\\\\\EckEntitySpecProvider', 'getOptions'\\} given\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Parameter \\#1 \\$fkEntity of method Civi\\\\Api4\\\\Service\\\\Spec\\\\FieldSpec\\:\\:setFkEntity\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Parameter \\#1 \\$key of method Civi\\\\Api4\\\\Service\\\\Spec\\\\RequestSpec\\:\\:getValue\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Parameter \\#1 \\$key of method Civi\\\\Api4\\\\Service\\\\Spec\\\\RequestSpec\\:\\:hasValue\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntitySpecProvider.php

		-
			message: "#^Parameter \\#2 \\$searchValue of static method CRM_Core_DAO\\:\\:getFieldValue\\(\\) expects int, string given\\.$#"
			count: 1
			path: Civi/Api4/Service/Spec/Provider/EckEntityTypeSpecProvider.php

		-
			message: "#^Method Civi\\\\Eck\\\\API\\\\Entity\\:\\:on_hook_civicrm_permission\\(\\) has parameter \\$permissions with no value type specified in iterable type array\\.$#"
			count: 1
			path: Civi/Eck/API/Entity.php

		-
			message: "#^Call to an undefined method object\\:\\:fetchAll\\(\\)\\.$#"
			count: 1
			path: eck.php

		-
			message: "#^Function eck_civicrm_config\\(\\) has no return type specified\\.$#"
			count: 1
			path: eck.php

		-
			message: "#^Function eck_civicrm_config\\(\\) has parameter \\$config with no type specified\\.$#"
			count: 1
			path: eck.php

		-
			message: "#^Function eck_civicrm_entityTypes\\(\\) has parameter \\$entityTypes with no value type specified in iterable type array\\.$#"
			count: 1
			path: eck.php
