<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         forceCoversAnnotation="true"
         bootstrap="tests/phpunit/bootstrap.php">

  <php>
    <ini name="error_reporting" value="-1" />
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=0&amp;baselineFile=./tests/ignored-deprecations.json"/>
  </php>

  <testsuites>
    <testsuite name="Extension Test Suite">
      <directory>./tests/phpunit</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">api</directory>
      <directory suffix=".php">CRM</directory>
      <directory suffix=".php">Civi</directory>
      <exclude>
        <directory>CRM/*/DAO</directory>
        <directory suffix="Base.php">CRM/*/Upgrader</directory>
      </exclude>
    </whitelist>
  </filter>
  <listeners>
    <listener class="Civi\Test\CiviTestListener">
      <arguments/>
    </listener>
  </listeners>
</phpunit>
